.CreateTodoButton {
  height: 60px;
  width: 60px;
  border: none;
  background: #32ABD0;
  
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  color: #fbfbff;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(0);
  transition: .3s ease;

  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
  background: #004660;
}