body {
  margin: 0;
  font-family: 'Roboto';
  background: rgb(21,42,60);
  background: linear-gradient(131deg, rgba(21,42,60,1) 0%, rgba(32,91,115,1) 47%);
  color: #D8EDF2;
}

#root {
  
  position: relative;
  min-height: 100vh;
}
